{% extends 'base.html' %} 
{% load static %} 
{% block title %}Changes Password{% endblock title %} 
{% block main %}
<section class="section-conten padding-y" style="min-height: 84vh">
  <!-- ============================ COMPONENT Register   ================================= -->
  <div class="card mx-auto" style="max-width: 380px; margin-top: 50px">
    <div class="card-body d-flex flex-column justify-content-center align-items-center">
      <h4 class="card-title mb-4 text-muted"> Changes Password </h4>
      <div class="form-group">
        {% include 'components/alert.html' %}
      </div>
      <form method="POST" novalidate>
        {% csrf_token %}
        <!-- form-group// -->
        <div class="form-group input-group input-group-md">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
          </div>
          <div class="input-group-append">
            {{form.current_password}}
            {% comment %} <input name="password" class="form-control" placeholder="Password" type="password"/> {% endcomment %}
          </div>
          {{form.current_password.errors}}
        </div>
        <!-- form-group// -->
        <div class="form-group input-group input-group-md">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
          </div>
          <div class="input-group-append">
            {{form.new_password}}
            {% comment %} <input name="password1" class="form-control" placeholder="Confirm Password" type="password"/> {% endcomment %}
          </div>
          {{form.new_password.errors}}
        </div>
        <!-- form-group// -->
        <div class="form-group input-group input-group-md">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-lock"></i></span>
            </div>
            <div class="input-group-append">
              {{form.new_password1}}
              {% comment %} <input name="password1" class="form-control" placeholder="Confirm Password" type="password"/> {% endcomment %}
            </div>
            {{form.new_password1.errors}}
        </div>
        <!-- form-group form-check .// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Changes Password</button>
        </div>
        <!-- form-group// -->
      </form>
    </div>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->
  <p class="text-center mt-4">I have account? <a href="#">Login Here</a></p>
  <br /><br />
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>

{% endblock main %}